/* override font default and global varaibles to be used in file */
:root {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    --user-bg-color: rgb(217, 237, 255);
    --side-bar-color: #11a5d6;
}

/* Main grids for application */
.mainApp {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 8fr 40fr;
    grid-template-rows: 15fr 90fr;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--user-bg-color);
}

/* grid content inside mainApp */
/* side bar styling */
.sideBar {
    background-color: var(--side-bar-color);
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: repeat(24, clamp(10px, 4%, 100px));
    gap: 5px;
    padding: 25px;
}

/* Dashboard sidebar grid space has larger text and more space */
.sideBarDashboard {
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 9fr;
    padding: 5px;
    font: bold 1.5rem Arial;
    color: white;
    gap: 10px;
}

.sideBarDashboardText {
    font: bold 2rem Arial;
    color: white;
}

.sideBarItem {
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 20px;
}

.sideBarText {
    font: bold 1.1rem Arial;
    color: white;
}

/* icons */
span.sideBarIconSmall {
    color: white;
    font-size: 30px;
    margin-top: -6px;
}

span.sideBarIconLarge {
    color: white;
    font-size: 50px;
    margin-top: -10px;
    margin-left: -15px;
}

/* header layout */
.header {
    background-color: white;
    display: grid;
    grid-template-columns: 6fr 4fr;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerLeftColumn {
    display: grid;
    grid-template-rows: 4fr 6fr;
    padding-left: 40px;
    padding-top: 20px;
}

/* inside header left column */
.headerSearchGrid {
    display: grid;
    grid-template-columns: 0.8fr 9fr;
}

.headerCurrentUserGrid {
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
    grid-template-columns: 0.1fr 0.9fr;
}

.headerCurrentUserImageCell {
    grid-row-start: 1;
    grid-row-end: 3;
    padding-right: 20px;
}

.headerCurrentUserImage {
    border-radius: 100%;
    width: 75px;
    height: 75px;
}

.headerHelloMessage {
    font: bold 1.1rem Arial;
}

.headerUsernameMessage {
    font: bold 2rem Arial;
}

/* header right column */
.headerRightColumn {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-right: 60px;
    padding-bottom: 40px;
}

button {
    background-color: var(--side-bar-color);
    font: bold 1.1rem Arial;
    color: white;
    border: 0px;
    border-radius: 40px;
    width: 100px;
    height: 40px;
}

/* Search bar at top of screen */
input {
    border-radius: 40px;
    width: 650px;
    height: 30px;
    background-color: rgb(233, 233, 233);
    border-color: rgba(0, 0, 0, 0);
}


.mainContent {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: repeat(2, 1fr);
}

/* Grid content in mainContent */
.feed {
    background-color: var(--user-bg-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 9fr;
    gap: 10px;
    padding-top: 45px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.feedTitle {
    font: bold 1.4rem Arial;
}

.feedContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Text feed items for Announcements*/
.feedItemText {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.9fr;
    border: 3px;
    border-bottom: 3px;
    border-color: black;

}

/* Icon feed items with text */
.feedItemIconWithText {
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
    grid-template-rows: 0.2fr 0.8fr;
}

/* icon grid cell for Trending tab*/
.feedIconCell {
    grid-row-start: 1;
    grid-row-end: 3;
    padding-right: 10px;
}

.feedIcon {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.announcementHeader {
    font: bold 1rem Arial;
    padding-bottom: 5px;
}

.announcementBody {
    font: normal 0.9rem Arial;
}

.projects {
    background-color: var(--user-bg-color);
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 10fr 10fr 10fr;
    gap: 25px;
    padding: 25px;
}

/* Different project grid cells*/
.projectsHeader {
    grid-column-start: 1;
    grid-column-end: 3;
    font: bold 1.4rem Arial;
}

.project {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 0.1fr 9.9fr;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectContent {
    display: grid;
    grid-template-rows: 0.4fr 4fr 2fr;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.projectTitle {
    font: bold 1.1rem Arial;

}

.projectDescription {
    font: 1rem Arial;
    color: rgb(46, 46, 46);
}

.projectIcons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    column-gap: 30px;
}

.projectIconImage {
    position: sticky;
    right: 0;
    background-color: white;
    padding-right: 10px;
}

.projectStripe {
    background-color: orange;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 7px;
}