
@font-face {
    font-family: 'pokemonk';
    src: url('../fonts/PocketMonk.ttf');
  }

.cardBtn {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(255, 2550, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0);
}

.cardBtn:hover {
    box-shadow: 0 15px 23px 0 rgba(255, 255, 255, 0.2), 0 13px 27px 0 rgba(255, 255, 255, 0.19);
}

.cardBtn:focus {
    box-shadow: 0 15px 23px 0 rgba(255, 255, 255, 0.2), 0 13px 27px 0 rgba(255, 255, 255, 0.19);
}

.cardTxt {
    font-family: 'pokemonk';
    font-size: 2rem;
}

.cardImg {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    max-width: 200px;
    margin-bottom: 25px;
    margin-top: 25px;
    position: relative;
}

